/* UNIVERSAL STYLES */

html {
  height: 100%;
  min-height:100%;
}
h1 {
  font-size: 28px;
  text-align: center;
}
h3 {
  font-weight:700;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
}
h4 {
  font-weight:700;
  font-size: 10px;
  color: #000000;
  letter-spacing: 2px;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.paragraph {
  height: 42px;
  overflow: hidden;
  color: #898989;
}

body {
    margin: 0 ;
    padding: 0;
}

/* Sign In/ Sign Up Flows */

.signin{
  height: 100vh;
  overflow: hidden;
}

.signup-button{
  margin-top: -20px;
}
.editprofile {
  height: 100vh;
  overflow: hidden;
}

.signin-left {

  width: 45%;
  height: 100%;
  float: left;
  overflow: hidden;
}

.signin-background {
  /* margin-left: -750px; */
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.editprofile-right {
  display: inline-block;
  margin-top: 5vh;
  margin-left: 20px;
  position: absolute;
  overflow: hidden;
}

.signin-right {
  margin-top: 35vh;
  display: inline-block;
  margin-left: 60px;
  overflow: hidden;
}

.signin-input-box {
  height: 40px;
  width: 440px;
  border: 1px solid #ECECEC;
  border-radius: 4px;
  background-color: #F8F8F8;

font-weight:300;
  font-size: 14px;
  letter-spacing: 0;
  padding-left: 12px;
}

.signin-input {

font-weight:700;
  letter-spacing: 0px;
  font-size: 12px;
  margin-bottom: 8px;
  margin-top: 8px;
}


.signin-title {

  font-size: 28px;
  padding-bottom: 0px;
  padding-top: 10px;
}

.signup-checkbox {
  margin-right: 80px;
  margin-left: 10px;
  border: 1px solid #ECECEC;
}

.signup-tutor-label {

font-weight:300;
  font-size: 14px;
}

.bio-input-box {
  height: 60px;
  width: 440px;
  border: 1px solid #ECECEC;
  border-radius: 4px;
  background-color: #F8F8F8;

font-weight:300;
  font-size: 14px;
  letter-spacing: 0;
  padding-bottom: 0;
  padding-left: 12px;

}

.hourlyRate-input-box {
  height: 40px;
  width: 120px;
  border: 1px solid #ECECEC;
  border-radius: 4px;
  background-color: #F8F8F8;

font-weight:300;
  font-size: 14px;
  letter-spacing: 0;
  padding-left: 12px;
}

.navbar-profpic {
  height: 40px;
  width: 40px;
  border: 3px solid #ECECEC;
  border-radius: 40px;
  vertical-align: middle;
  margin-left: 12px;
  margin-right: 12px;
  object-fit: cover;
}

.signin-input-checkbox{

font-weight:700;
  letter-spacing: 0px;
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.custom-file-upload{
  height: 44px;
  width: 160px;
  border: 2px solid #ECECEC;
  border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 0px;

font-weight:700;
  font-size: 12px;
  color: black;
  letter-spacing: 0;
  text-align: center;
  padding: 11px;
  background-color: #F8F8F8;


}

.course-dropdown{

font-weight:300;
  font-size: 14px;
}
.custom-file-upload:hover {
  border: 0px;
  font-size: 12px;
  padding: 13px;
  background-color: #DEEBFF;
}
input[type="file"] {
    display: none;
}
@media screen and (max-width: 900px) {
  .signin-left {
    width: 0%;
    height: 0%;
    visibility: hidden;
    display: inline-block;
  }
  .editprofile-right {
    margin-left: 20px;
  }
  .signin-right{
    margin-left: 20px;
    margin-top: 10px;
  }
  .signin-input-box{
    width: 390px;
  }
  .bio-input-box {
    width: 390px;
  }

}
