/* UNIVERSAL STYLES */

html {
  height: 100%;
  min-height:100%;
}

body {
  padding-top: 40px;
  height: 100%;
  min-height:100%;
}

h1 {
  font-size: 28px;
  text-align: center;
}


h3 {

font-weight:700;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
}

h4 {

font-weight:700;
  font-size: 10px;
  color: #000000;
  letter-spacing: 2px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.paragraph {
  height: 42px;
  overflow: hidden;
  color: #898989;
}

/* NAVBAR COMPONENT */


.navbar-profpic {
  height: 40px;
  width: 40px;
  border: 3px solid #ECECEC;
  border-radius: 40px;
  vertical-align: middle;
  margin-left: 12px;
  margin-right: 12px;
  object-fit: cover;
}
.navbar-appointments {
  padding-right: 16px;
}


/* COLLECTION COMPONENT */

.app {
  text-align: center;
  margin-top: 5vh;
}
.Filter{
  width: 100%;
  display: inline-block;
}

.course-dropdown-filter{
  width: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
.collection {
  width: 85%;
  max-width: 1100px;
  display: inline-block;
}

.tutor-results {
  color: #898989;
     ;
  font-size: 14px;
  text-align: center;
  padding: 20px;
}
